In [1]:
import pandas as pd
import os, sys
import numpy as np
from google.colab import drive

drive.mount('/content/drive')
df1 = pd.read_csv('/content/drive/My Drive/df_2016.csv',encoding= 'unicode_escape')
df2 = pd.read_csv('/content/drive/My Drive/df_2017.csv',encoding= 'unicode_escape')
df3 = pd.read_csv('/content/drive/My Drive/df_2018.csv',encoding= 'unicode_escape')
df4 = pd.read_csv('/content/drive/My Drive/df_2019.csv',encoding= 'unicode_escape')
df5 = pd.read_csv('/content/drive/My Drive/df_2020.csv',encoding= 'unicode_escape')

Mounted at /content/drive

In [2]:
df1.shape, df2.shape, df3.shape, df4.shape, df5.shape

((105606, 3), (91092, 3), (50857, 3), (80607, 3), (69119, 3))

In [7]:
df = pd.concat([df1,df2,df3,df4,df5],ignore_index=True)
df.shape

(397281, 3)

In [8]:
df.head()

   Unnamed: 0  year                                           sentence
0           0  2016  New England is pretty banged up, particularly ...
1           1  2016  The Defense Department cannot be allowed to co...
2           2  2016  Adam Bosworth, a tech pioneer, sees the future...
3           3  2016  Branching out from its usual repertory, the gr...
4           4  2016  President Obama will meet with Attorney Genera...

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397281 entries, 0 to 397280
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  397281 non-null  int64
 1   year        397281 non-null  int64
 2   sentence    397281 non-null  object
dtypes: int64(2), object(1)
memory usage: 9.1+ MB